<!doctype html>
<html lang="en">
    <head>
        <title>%%ProjectTitle%%</title>
    </head>
    <body style="display: block; padding: 0px; margin: 0px">
        <iframe
            id="main-frame"
            style="
                display: block;
                position: absolute;
                inset: 0px;
                width: 100vw;
                height: 100vh;
                border: none;
            "
        ></iframe>

        <script type="module">
            (async function () {
                if (nw) {
                    const { spawn } = require("node:child_process");

                    if (process.versions["nw-flavor"] == "sdk") {
                        nw.Window.get().showDevTools();
                        await new Promise((res, rej) => window.setTimeout(res, 1000));
                    }

                    function doCMD( cmd, args = [], onEnd = (code) => {}, onStdOut = (d) => console.log(`${d}`), onStdErr = (d) => console.error(`${d}`)) {
                        const c = spawn(cmd, args)
                        c.on('error', (err) => console.error(`cmd-error: ${cmd} => ${err}`))
                        c.stdout.on('data', onStdOut)
                        c.stderr.on('data', onStdErr)
                        c.on('close', onEnd)
                    }

                    var stdOutHandler = (data) => {
                        nw.Window.get().on("close", () => {
                            window.location.href = `http://127.0.0.1:${data}/__stop_server__`;
                        });

                        stdOutHandler = (data) => console.log("server says: ", `${data}`)

                        document.querySelector("#main-frame").src =
                            `http://127.0.0.1:${data}/__start_server__`;
                    }

                    doCMD('chmod', ['a+x', './backend'], 
                        (code) => {
                            if (code == 0) {
                                doCMD(
                                    './backend', [], () => {},
                                    (data) => stdOutHandler(data)
                                 )
                            } else alert(
                                `failed run backend. Could not set permission (code: ${code})`
                            ) 
                        }
                    )

                } else {
                    document.querySelector("#main-frame").src =
                        `http://127.0.0.1:7001/__start_server__`;
                }
            })();
        </script>
    </body>
</html>
