<!doctype html>
<html lang="en">
    <head>
        <title>%%ProjectTitle%%</title>
    </head>
    <body style="display: block; padding: 0px; margin: 0px">
        <iframe
            id="main-frame"
            style="
                display: block;
                position: absolute;
                inset: 0px;
                width: 100vw;
                height: 100vh;
                border: none;
            "
        ></iframe>

        <script type="module">
            (async function () {
                if (nw) {
                    if (process.versions["nw-flavor"] == "sdk") {
                        nw.Window.get().showDevTools();
                        await new Promise((res, rej) =>
                            window.setTimeout(res, 1000)
                        );
                    }

                    const { spawn } = require("node:child_process");
                    spawn("chmod", ["+x", './backend']);

                    const runcmd = spawn('./backend');

                    var stdOutHandler = (data) => {

                        nw.Window.get().on("close", () => {
                            window.location.href = `http://127.0.0.1:${data}/__stop_server__`;
                        });

                        stdOutHandler = (data) => console.log("server says: ", `${data}`)

                        document.querySelector("#main-frame").src =
                            `http://127.0.0.1:${data}/__start_server__`;

                    }

                    runcmd.stdout.on("data", (data) => {
                        stdOutHandler(data);
                    });

                    runcmd.stderr.on("data", (data) =>
                        console.error(`${data}`)
                    );

                } else {
                    document.querySelector("#main-frame").src =
                        `http://127.0.0.1:7001/__start_server__`;
                }
            })();
        </script>
    </body>
</html>
