const { spawn } = require('node:child_process');
const runcmd = spawn('./backend', ['-lh', '.']);

var GOAPI = "";

runcmd.stdout.on("data", (data) => {
    GOAPI = `http:127.0.0.1:${data}`

    window.location.href = GOAPI
})

