package goapi

import "net/http"

func DefineRoutes(mux *http.ServeMux) {
	// Define your Go - Server Endpoints here
	//
	// GET /  -  is the entrypoint to your application it is automatically started
	// If NWJS has successfully opened a window and started a Server
	mux.HandleFunc("GET /", func(w http.ResponseWriter, r *http.Request) {
		// Redirect browser to index page in static folder
		w.Header().Add("location", "/static/index.html")
		w.WriteHeader(302)
	})

}
