<!DOCTYPE html>

<html lang="en">
        
    <head>
        <title>Powered by HTMX, Go and NWJS</title>
    </head>
    <body style="text-align: center">
        <h1>%%ProjectTitle%%</h1>
        <img width="25%" src="/static/logo.png" alt="nwgo-logo"/>
        <p>Powered by Go and NWJS</p>  
    </body>
        
</html>
